.policies-sec h6 {
    color: var(--gray-color);
    margin-top: 15px;
}

.policies-sec span {
    color: var(--lightest-gray-color);
    margin-bottom: 15px;
    font-weight: 700;
}

.policies-sec p {
    color: var(--lightest-gray-color);
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 700;
}