:root {
   --primary-color: #0019ff;
--primary-light-color: #80d4ff;
--gray-color: #414141;
--light-gray-color: #d2d2d2;
--lightest-gray-color: #7d7c81;
--border-color: #eeeeee;
--light-background-color: #fafafa;
--background-gray-color: #f5f5f5;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap');


@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-Thin.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-ExtraLight.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-Black.ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
}

a {
    text-decoration: none !important;
}

.btn-primry {
    border-radius: 30px;
    padding: 10px 15px;
    font-size: 14px;
    background-color: var(--primary-light-color);
    /* display: block; */
    width: 100%;
    max-width: max-content;
    border: unset;
    outline: unset;
    color: white;
    text-decoration: none !important;
}


/* global variables Start */

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

header{
    /*position: fixed;*/
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999999;
}

.sec-padding {
    padding: 94px 0;
}

.sec-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.sec-title h3 {
    color: var(--primary-color);
    font-weight: bold;
}

.sec-title a {
    color: var(--gray-color);
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 10px;
}


/* Global Styling End */


/* Header Section */

header {
    background-color: var(--primary-color);
}

header .navigations {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navigations .menus li {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 20px;

    /*padding: 10px 30px;*/

    position: relative;
    margin-right: 10px;
    border-radius: 30px;
}

header .navigations .menus li:last-child {
    margin-right: unset;
}

header .navigations .menus li.has-child::after {
    content: "\f078";
    font-family: 'font Awesome 5 free';
    font-weight: 700;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 12px;
    color: white;
    margin-right: 5px;
}

header .navigations .menus li a {
    color: white;
}


/* New Code */

header .navigations .menus li:hover {
    background-color: var(--primary-light-color);
}

header .navigations .menus li.active {
    background-color: var(--primary-light-color);
}

header .navigations .menus li.active::after {
    content: "\f077";
}

header .searchbar {
    max-width: 100%;
    margin: 15px auto;
    position: relative;
}

header .searchbar input {
    width: 100%;
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 10px 20px;
}

header .searchbar i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
    background: var(--primary-light-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 31px;
    font-size: 14px;
    text-align: center;
}

header .sub-menu {
    padding: 20px 0;
    display: none !important;
    transition: 0.4s all;
}

header .sub-menu.active {
    display: flex !important;
}

header .categories-sub-menu li {
    margin-right: 15px;
}

header .sub-menu li {
    text-align: center;
}

header .sub-menu li span {
    display: block;
    color: white;
    margin-top: 7px;
}

header .sub-menu li img {
    border-radius: 50%;
    border: 2px solid transparent;
}

header .sub-menu li:hover img {
    border: 2px solid #80d4ff;
}

/* header .sub-menu li img {
    max-width: 70%;
} */

header .navigations .other-navigations .btn-primry {
    padding: 10px 25px;
}

.mobile-header {
    background-color: var(--primary-color);
    padding: 15px 0;
    display: none;
}

.mobile-header .mainbox {
    display: flex;
    align-items: center;
}

.mobile-header .mainbox .logo {
    flex: 0 0 20%;
    max-width: 20%;
}

.mobile-header .mainbox .searchbar {
    flex: 0 0 70%;
    max-width: 70%;
    position: relative;
    color: #cfcfcf;
}

.mobile-header .mainbox .searchbar input {
    width: 90%;
    margin: 0 auto;
    display: block;
    border: unset;
    outline: unset;
    padding: 12px;
    padding-left: 30px;
    border-radius: 25px;
    font-size: 12px;
}

.mobile-header .mainbox .searchbar i {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

.mobile-header .mainbox .mobile-nav-btn {
    flex: 0 0 10%;
    max-width: 10%;
    font-size: 20px;
    color: white;
}

.mobile-nav-main {
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.42);
    transition: 0.4s all;
    overflow-y: scroll;
}

.mobile-nav-main .mobile-nav {
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 70%;
    height: 100%;
    background: var(--primary-color);
    transition: 0.4s all;
}

.mobile-nav-main.active {
    right: 0;
    opacity: 1;
    visibility: visible;
    /* padding-top: 94px; */
    /* margin-top: 74px; */
    /* top: -1px; */
    z-index: 9999999;
}

.mobile-nav-main.active .mobile-nav {
    right: 0;
}

.mobile-nav-main .mobile-nav i.close_btn {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    background: #0019ff;
    color: white;
}

.mobile-nav-main .mobile-nav .logo img {
    max-width: 70%;
    margin: 0 auto;
    display: block;
}

.mobile-nav-main .mobile-nav h6 {
    padding: 10px 18px;
    color: white;
}

.mobile-nav-main .mobile-nav ul li {
    padding: 10px 18px;
    /* border-bottom: 1px solid var(--primary-light-color); */
    color: white;
}

.mobile-nav-main .mobile-nav ul li a {
    color: white;
}

.mobile-nav-main .mobile-nav ul li img {
    max-width: 10%;
}

.mobile-nav-main .mobile-nav ul li span {
    margin-left: 10px;
}

.mobile-nav-main .mobile-nav ul li.has-child::after {
    content: '\f078';
    font-family: 'font Awesome 5 free';
    font-weight: 900;
    font-size: 12px;
    margin-left: 10px;
}


/* Banner Section Start */

.banner-sec {
    background-color: var(--primary-color);
    /*padding-top: 94px;*/
    padding-bottom: 20px;
}

.banner-sec .contentbox {
    text-align: center;
    color: white;
}

.banner-sec .contentbox .searchbar {
    max-width: 50%;
    margin: 15px auto;
    position: relative;
}

.banner-sec .contentbox .searchbar input {
    width: 100%;
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 10px 20px;
}

.banner-sec .contentbox .searchbar i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
    background: var(--primary-light-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    font-size: 14px;
}

.banner-sec .contentbox .category-links li {
    padding-right: 15px;
    text-transform: capitalize;
}

.banner-sec .contentbox .category-links li a {
    text-decoration: underline;
    color: white;
    padding-bottom: 3px;
}



.category-tiles .mainbox {
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.category-tiles .mainbox .contentbox {
    position: relative;
    padding: 30px 20px;
    text-align: left;
}

.category-tiles .mainbox .contentbox .brand-logo {
    position: absolute;
    top: -20px;
    left: 20px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    padding: 15px;
    background-color: white;
}

.category-tiles .mainbox .contentbox p {
    margin-top: 10px;
    color: var(--gray-color);
}

.banner-sec .banner-bottom-link {
    text-align: center;
    display: block;
    color: white;
    text-decoration: underline;
}


/* Product Tiles  */

.product-tiles {
    /* padding-bottom: 0; */
    /* padding-top: 16px; */
}

.product-tiles .mainbox {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-bottom: 30px;
    transition: 0.4s all;
}

.product-tiles .mainbox .imgbox {
    padding: 40px 0;
}

.product-tiles .mainbox .imgbox img {
    max-width: 50%;
    margin: 0 auto;
    display: block;
}

.product-tiles .mainbox .contentbox {
    padding: 15px;
    border-top: 1px solid var(--border-color);
}

.product-tiles .mainbox .contentbox span {
    color: var(--primary-color);
    font-weight: 700;
    text-transform: capitalize;
}

.product-tiles .mainbox .contentbox p {
    margin-top: 5px;
    font-size: 16px;
    color: var(--gray-color);
    font-weight: 500;
}

.product-tiles .mainbox:hover {
    box-shadow: 5px 5px 15px rgb(0 0 0 / 10%);
}


/* Top Coupon Section start */

.top-coupon-sec {
    background-color: var(--light-background-color);
    padding-top: 15px;
}

.never-miss-deals-sec {
    padding: 40px;
    background-color: var(--light-background-color);
}


/* Top Stores And Category Section */

.top-store-category-sec .accordion-container .accordion-title {
    display: block;
    position: relative;
    margin: 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    color: var(--primary-color);
    padding: 10px;
    margin-bottom: 25px;
}

.top-store-category-sec .accordion-container .accordion-title:hover,
.top-store-category-sec .accordion-container .accordion-title:active,
.top-store-category-sec .accordion-container .content-entry.open .accordion-title {
    /* color: white; */
}

.accordion-container .accordion-title:hover h4::after,
.accordion-container .accordion-title:hover h4:active,
.accordion-container .content-entry.open i {
    color: black;
}

.accordion-container .content-entry h4::after {
    content: '\f078';
    font-family: 'font Awesome 5 free';
    font-weight: 700;
    font-size: 12px;
    margin-left: 5px;
}

.accordion-container .content-entry.open h4::after {
    content: '\f077';
}

.accordion-content {
    display: none;
}


/* Never Miss Section */

.never-miss-deals-sec .mainbox {
    text-align: center;
    color: var(--gray-color);
}

.never-miss-deals-sec .mainbox p {
    font-weight: 500;
    margin-top: 5px;
    color: var(--gray-color);
}

.never-miss-deals-sec .mainbox .subscribe-us {
    max-width: 35%;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
}

.never-miss-deals-sec .mainbox .subscribe-us input[type="email"] {
    padding: 11px 15px;
    border-radius: 25px;
    width: 100%;
    border: 1.5px solid var(--border-color);
}

.never-miss-deals-sec .mainbox .subscribe-us .btn-primry {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    line-height: 1;
}


/* Footer Section */

footer {
    padding: 20px 0;
}

footer .footer-links {
    color: var(--gray-color);
}

footer h4 {
    margin-bottom: 15px;
}

footer .footer-links ul {
    list-style: none;
}

footer .col-lg-3 .footer-links ul {
    display: flex;
    flex-flow: wrap;
}

footer .col-lg-3 .footer-links ul li {
    flex: 0 0 50%;
    max-width: 50%;
}

footer .col-lg-3 .footer-links.show ul li:nth-child(n+11) {
    display: block;
}

footer .col-lg-3 .footer-links ul li:nth-child(n+11) {
    display: none;
}

footer .footer-links .show-hide-btn .show-btn.hide {
    display: none;
}

footer .footer-links .show-hide-btn .show-btn.show {
    display: block;
}

footer .footer-links .show-hide-btn .hide-btn {
    display: none;
}

footer .footer-links .show-hide-btn .hide-btn.show {
    display: block;
}

footer .footer-links .show-hide-btn .hide-btn.hide {
    display: none;
}

footer .footer-links .show-hide-btn button {
    background-color: unset;
    padding: unset;
    border: unset;
    outline: unset;
    color: black;
    font-weight: 700;
    margin-top: 5px;
}

footer .footer-links ul li {
    padding-bottom: 10px;
    font-weight: 600;
}

footer .footer-links ul li a {
    color: gray;
    font-size: 12px;
}



.link_widget {
    padding: 20px 0;
}

.link_widget .footer-links {
    color: var(--gray-color);
}

.link_widget h4 {
    margin-bottom: 15px;
}

.link_widget .footer-links ul {
    list-style: none;
}

.link_widget .col-lg-4 .footer-links ul {
    display: flex;
    flex-flow: wrap;
}

.link_widget .col-lg-4 .footer-links ul li {
    flex: 0 0 50%;
    max-width: 50%;
}

.link_widget .col-lg-4 .footer-links.show ul li:nth-child(n+11) {
    display: block;
}

.link_widget .col-lg-4 .footer-links ul li:nth-child(n+11) {
    display: none;
}

.link_widget .footer-links .show-hide-btn .show-btn.hide {
    display: none;
}

.link_widget .footer-links .show-hide-btn .show-btn.show {
    display: block;
}

.link_widget .footer-links .show-hide-btn .hide-btn {
    display: none;
}

.link_widget .footer-links .show-hide-btn .hide-btn.show {
    display: block;
}

.link_widget .footer-links .show-hide-btn .hide-btn.hide {
    display: none;
}

.link_widget .footer-links .show-hide-btn button {
    background-color: unset;
    padding: unset;
    border: unset;
    outline: unset;
    color: black;
    font-weight: 700;
    margin-top: 5px;
}

.link_widget .footer-links ul li {
    padding-bottom: 10px;
    font-weight: 600;
}

.link_widget .footer-links ul li a {
    color: var(--gray-color);
}


.copyright {
    background-color: var(--light-background-color);
    padding: 15px 0;
    border-bottom: 15px solid var(--primary-color);
}

.copyright ul li {
    margin-right: 15px;
    font-weight: 600;
}

.copyright ul li a {
    color: var(--gray-color);
}

.copyright p {
    text-align: right;
    color: var(--gray-color);
    font-weight: 600;
}


/* All Category Page */

.all-cat-banner .all-cats-main {
    margin-top: 30px;
}

.all-cat-banner .all-cats-main a {
    display: flex;
    padding: 0 10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: black;
    font-weight: 700;
    margin-bottom: 20px;
    transition: 0.4s all;
    height: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    max-height: 100px;
}

.all-cat-banner .all-cats-main a:hover {
    box-shadow: 5px 5px 15px rgb(255 255 255 / 30%);
}


/* All Store Section */

.store-sec {
    background-color: var(--light-background-color);
}

.store-sec .store-img {
    display: block;
    border: 1px solid var(--border-color);
    padding: 70px 20px;
    border-radius: 5px;
    background: white;
    text-align: center;
    margin-bottom: 10px;
}

.store-sec .tile-mainbox .store-img {
    display: none;
}

.store-sec .store-img img {
    max-width: 50%;
}

.store-sec .main-sidebar {
    /* position: sticky; */
    top: 10px;
}

.store-sec .sec-title ul {
    margin-top: 15px;
    flex-flow: wrap;
}

.store-sec .sec-title ul li {
    padding-right: 20px;
    font-weight: 700;
    color: var(--gray-color);
}

.store-sec .sec-title ul li::before {
    content: "\f00c";
    font-family: 'font Awesome 5 free';
    font-weight: 700;
    font-size: 12px;
    margin-right: 10px;
}

.store-sec span {
    /* font-size: 12px; */
    display: block;
    font-weight: 600;
    color: var(--gray-color);
}

.store-sec span a {
    color: var(--gray-color);
}

.store-sidebar .available-offers {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--border-color);
    color: var(--gray-color);
}

.store-sidebar .available-offers p {
    font-weight: 700;
    margin-bottom: 10px;
}

.store-sidebar .available-offers .available-options label {
    width: 100%;
    display: flex;
    align-items: center;
}

.store-sidebar .available-offers .available-options label input {
    margin-right: 5px;
}

.store-sidebar .sidebar-links {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--border-color);
    color: var(--gray-color);
}

.store-sidebar .sidebar-links ul li {
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 700;
}

.store-sidebar .sidebar-links ul li:last-child {
    margin-bottom: unset;
}

.store-sidebar .sidebar-links ul li a {
    color: var(--primary-color);
}

.store-sidebar .hints-tips {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--border-color);
    color: var(--gray-color);
}

.store-sidebar .hints-tips p {
    font-weight: 700;
    margin-bottom: 5px;
}

.store-sidebar .hints-tips span {
    margin-bottom: 15px;
}

.store-sidebar .hints-tips ul {
    padding-left: 15px;
    /* font-size: 12px; */
    display: block;
    font-weight: 600;
}

.store-sidebar .hints-tips ul li {
    margin-bottom: 15px;
}

.store-sidebar .hints-tips ul li:last-child {
    margin-bottom: unset;
}

.store-sidebar .related-popular-accordion {
    color: var(--gray-color);
}

.store-sidebar .related-popular-accordion .content-entry {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--border-color);
    color: var(--gray-color);
}

.store-sidebar .related-popular-accordion .accordion-title h4 {
    position: relative;
    font-size: 14px;
}

.store-sidebar .related-popular-accordion .accordion-title h4::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: var(--gray-color);
}

.store-sidebar .related-popular-accordion .accordion-content a {
    font-weight: 700;
    font-size: 12px;
    color: var(--primary-color);
}

.store-sidebar .related-popular-accordion .accordion-content ul {
    margin-top: 10px;
}

.store-sidebar .related-popular-accordion .accordion-content ul li {
    /* font-size: 12px; */
    margin-bottom: 10px;
    font-weight: 600;
}

.store-sidebar .related-popular-accordion .accordion-content ul li a {
    color: var(--gray-color);
    transition: 0.4s all;
    text-decoration: none;
    font-weight: 600;
}

.store-sidebar .related-popular-accordion .accordion-content ul li a:hover {
    color: var(--primary-color);
}

.store-sidebar .related-popular-accordion .accordion-content span {
    margin-top: 5px;
}

.store-sidebar .today-top-offers {
    color: var(--gray-color);
    /* font-size: 12px; */
    font-weight: 600;
}

.store-sidebar .today-top-offers p {
    font-weight: 700;
    font-size: 14px;
}

.store-sidebar .today-top-offers .top-offer-content {
    margin: 15px 0;
    margin-left: 15px;
}

.store-sidebar .today-top-offers a {
    margin-top: 10px;
    display: block;
    font-weight: 700;
    color: var(--primary-color);
}

.store-sidebar .today-top-offers .top-offer-list {
    display: flex;
    flex-flow: wrap;
}

.store-sidebar .today-top-offers .top-offer-list li {
    flex: 0 0 50%;
    max-width: 50%;
}

.store-sidebar .today-top-offers .top-offer-list li.content {
    text-align: right;
}

.desktop-coupon-tiles .coupons-tiles .coupon-content {
    flex: 0 0 50%;
    max-width: 50%;
}

.desktop-coupon-tiles .coupons-tiles .coupon-content {
    padding: 35px 15px;
}

.desktop-coupon-tiles .coupons-tiles .coupon-content h5 {
    font-size: 14px;
}

.desktop-coupon-tiles .coupons-tiles .coupon-content p {
    font-size: 22px;
}

.store-tabbing {
    display: none;
}

.store-tabbing .tabs {
    margin-bottom: 30px;
}

.store-tabbing .store-short-desc {
    display: none;
}

.store-tabbing .tabs ul {
    display: flex;
    list-style: none;
    border: 1px solid var(--border-color);
    padding: 3px;
    border-radius: 8px;
}

.store-tabbing .tabs ul li {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: center;
    padding: 12px;
    color: var(--gray-color);
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: 0.4s all;
}

.store-tabbing .tabs ul li.active {
    background-color: var(--primary-color);
    color: white;
}

.store-tabbing .tabs ul li:hover {
    background-color: var(--primary-color);
    color: white;
}

.store-tabbing .tabbing-content .tab-content {
    display: none;
}

.store-tabbing .tabbing-content .tab-content.active {
    display: block;
}

.coupons-tiles .coupon-tile {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background: white;
    margin-bottom: 15px;
    transition: 0.4s all;
}

.coupons-tiles .coupon-tile:hover {
    box-shadow: 5px 5px 15px rgb(0 0 0 / 20%);
}

.coupons-tiles .discount-percentage {
    flex: 0 0 20%;
    max-width: 20%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

.coupons-tiles .discount-percentage h4 span,
.coupons-tiles .discount-percentage h4 {
    font-size: 36px;
    color: var(--primary-color);
    font-weight: 900;
    line-height: 1;
}

.coupons-tiles .coupon-content {
    flex: 0 0 80%;
    max-width: 80%;
    padding: 15px;
}

.coupons-tiles .coupon-content h5 {
    text-transform: uppercase;
    color: var(--primary-color);
}

.coupons-tiles .coupon-content p {
    font-size: 16px;
    font-weight: bold;
    color: var(--gray-color);
}

.coupons-tiles .getcodebtn {
    /* max-width: 65%; */
    margin: 10px 0;
    position: relative;
}

.coupons-tiles .getcodebtn::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    background: #0019ff;
    right: 19px;
    z-index: 1;
    transition: 0.4s all;
}

.coupons-tiles .getcodebtn a {
    padding: 12px 80px;
    background: var(--primary-color);
    display: block;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    /* border: 1px solid #0011af; */
    text-align: center;
}

.coupons-tiles .getdealbtn {
    max-width: 65%;
    margin: 10px 0;
    position: relative;
}

.coupons-tiles .getdealbtn a {
    padding: 12px 80px;
    background: var(--primary-color);
    display: block;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    position: relative;
}

.coupons-tiles .getcodebtn a::before {
    content: '';
    border-left: 25px solid transparent;
    border-right: 35px solid transparent;
    border-top: 34px solid #0011af;
    position: absolute;
    top: 16px;
    transform: rotate(71deg);
    right: -2px;
    /* opacity: 0;
    visibility: hidden; */
    z-index: 1;
    transition: 0.4s all;
    border-radius: 4px;
}


/* .coupons-tiles .getcodebtn a::after {
    content: '';
    position: absolute;
    box-shadow: 0 0px 9px 5px black;
    width: 5px;
    height: 5px;
    bottom: 3px;
    right: 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all;
} */

.coupons-tiles .getcodebtn:hover::before {
    right: 40px;
}

.coupons-tiles .getcodebtn:hover a::before {
    /* opacity: 1;
    visibility: visible; */
    right: 15px;
}

.coupons-tiles .getcodebtn:hover a::after {
    opacity: 1;
    visibility: visible;
}

.coupons-tiles .getcodebtn span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--gray-color);
    text-transform: uppercase;
    background: var(--light-background-color);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 38px;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    /* opacity: 0;
    visibility: hidden; */
    /* transition: 0.4s all; */
    border: 2px dashed #0011af;
}

.coupons-tiles .getcodebtn:hover span {
    opacity: 1;
    visibility: visible;
}

.coupons-tiles .coupon-content .verified span {
    display: inline-flex;
    align-items: center;
    color: #d3d3d3;
}

.coupons-tiles .coupon-content .verified span i {
    background: #d3d3d3;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    font-size: 8px;
    line-height: 15px;
    margin-left: 5px;
    color: white;
}

.blogs-sec .mainbox {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--border-color);
}

.blogs-sec .mainbox .contentbox {
    padding: 10px;
    border-top: 1px solid var(--border-color);
    color: var(--gray-color);
}

.blogs-sec .mainbox .contentbox h5 {
    line-height: 1.1;
    font-size: 16px;
}

.blogs-sec .mainbox .contentbox p {
    margin: 15px 0;
    font-weight: 600;
}

.blogs-sec .mainbox .contentbox a {
    color: var(--primary-color);
    font-weight: 700;
}

.faqs-sec {
    margin: 15px 0;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: white;
}

.faqs-sec h3 {
    padding: 10px 15px;
    border-bottom: 1px solid var(--border-color);
    /* text-transform: uppercase; */
    color: var(--primary-color);
}

.faqs-sec .accordion-title {
    padding: 5px 0;
}

.faqs-sec .accordion-title h4 {
    font-size: 16px;
    position: relative;
    color: var(--gray-color);
}

.faqs-sec .accordion-title h4::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: var(--primary-light-color);
}

.faqs-sec .content-entry {
    padding: 10px 15px;
    border-bottom: 1px solid var(--border-color);
}

.faqs-sec .content-entry:last-child {
    border-bottom: unset;
}

.faqs-sec .content-entry .accordion-content {
    color: var(--gray-color);
    padding: 0 15px;
}

.faqs-sec .content-entry .accordion-content h6 {
    margin-bottom: 10px;
}

.faqs-sec .content-entry .accordion-content p {
    margin-bottom: 10px;
    font-weight: 600;
}

.about-brand {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    background-color: white;
}

.about-brand h3 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.about-brand p {
    font-weight: 600;
    margin-bottom: 15px;
}

.about-brand ul {
    /*display: flex;
    flex-flow: wrap;
    list-style: none;*/
}

.about-brand ul li {
 /*   flex: 0 0 50%;
    max-width: 50%;*/
    margin-bottom: 15px;
    /*font-weight: bold;*/
    color: var(--gray-color);
    font-size: 13px;
    margin-left: 20px;
}

.about-brand .store_content {
    font-weight: bold;
    display: flex;
}

.about-brand .store_content li {
    flex: 0 0 50%;
    max-width: 50%;
}

.about-brand ul li.content {
    color: var(--primary-light-color);
}

.about-brand ul li.content span,
.about-brand ul li.content a {
    color: var(--primary-light-color);
    font-size: 16px;
    font-weight: bold;
}

.how-use-sec {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    background-color: white;
    margin: 15px 0;
    color: var(--gray-color);
}

.how-use-sec h3 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.how-use-sec ul {
    padding-left: 15px;
}

.how-use-sec ul li {
    font-weight: 600;
    margin-bottom: 10px;
}

.buyer-guide-sec {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    background-color: white;
    margin: 15px 0;
    color: var(--gray-color);
}

.buyer-guide-sec h3 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.buyer-guide-sec p {
    font-weight: 600;
    margin-bottom: 15px;
}

.buyer-guide-mobile {
    display: none;
}

.buyer-guide-mobile .contentbox {
    display: flex;
}

.buyer-guide-mobile .contentbox img {
    flex: 0 0 35%;
    max-width: 50%;
    height: 230px;
    margin-right: 15px;
    object-fit: cover;
    border-radius: 8px;
    object-position: top center;
}

.buyer-guide-mobile .contentbox p {
    margin-bottom: 0;
}


/* Coupon Section  */

.coupon-popup-sec {
    background-color: rgb(0 0 0 / 50%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: 0.4s all;
    z-index: 999999;
}

.coupon-popup-sec.active {
    transform: scale(1);
}

.coupon-popup-sec .coupon-popup-main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.coupon-popup-sec .coupon-popup-main .contentbox {
    width: 91%;
    max-width: 66%;
    margin: 0 auto;
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    position: relative;
    border-radius: 15px;
    text-align: center;
}

.coupon-popup-sec .coupon-popup-main .contentbox .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    /* background: #4153f5; */
    line-height: 40px;
    /* border-radius: 50%; */
    /* box-shadow: 0 0 10px #0000002e; */
    color: #DEDEDE;
    cursor: pointer;
    z-index: 999999;
}

.coupon-popup-sec .coupon-popup-main .contentbox .titlebox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coupon-popup-sec .coupon-popup-main .contentbox .titlebox {
    margin-bottom: 25px;
    /* border-bottom: 1px solid #0000002e; */
    padding-bottom: 10px;
}

.coupon-popup-sec .coupon-popup-main .contentbox .titlebox img {
    border: 1px solid #0000002e;
    max-width: 100%;
    flex: 0 0 25%;
    height: 160px;
    object-fit: contain;
    margin-right: 15px;
    border-radius: 7px;
    padding: 3px;
}

.coupon-popup-sec .coupon-popup-main .contentbox .titlebox h5 {
    font-size: 20px;
    color: var(--gray-color);
}

.coupon-popup-sec .coupon-popup-main .contentbox .copy-code span {
    display: block;
    padding-bottom: 15px;
}

.coupon-popup-sec .coupon-popup-main .contentbox .copy-code .code {
    padding: 15px 0;
}

.coupon-popup-sec .coupon-popup-main .contentbox .copy-code .code p {
    margin-bottom: 15px;
    color: #000000ab;
    font-size: 18px;
    font-weight: 700;
}

.coupon-popup-sec .coupon-popup-main .contentbox .copy-code .btn-secndry {
    margin: 0 auto;
    border: unset;
    outline: unset;
    border-radius: 8px;
    padding: 12px 40px;
    color: white;
    transition: 0.4s all;
    background-color: var(--primary-color);
}

.coupon-popup-sec .coupon-popup-main .contentbox .copy-code .btn-secndry:hover {
    color: white;
}

.coupon-popup-sec .coupon-popup-main .contentbox .copy-code .btn-secndry span {
    padding: unset;
}

.coupon-popup-sec .coupon-popup-main .contentbox .other-details {
    margin-top: 10px;
}

.coupon-popup-sec .coupon-popup-main .contentbox .other-details li {
    color: var(--gray-color);
    font-size: 14px;
    font-weight: 600;
}

.coupon-popup-sec .coupon-popup-main .contentbox .other-details li::after {
    content: '|';
    margin: 0 10px;
}

.coupon-popup-sec .coupon-popup-main .contentbox .other-details li i {
    margin-right: 3px;
}

.coupon-popup-sec .coupon-popup-main .contentbox .other-details li:last-child::after {
    content: unset;
}

.coupon-popup-sec .coupon-popup-main .contentbox .subscribe-newsletter {
    margin-top: 30px;
    /* border-top: 1px solid #0000002e;
    padding-top: 30px; */
}

.coupon-popup-sec .coupon-popup-main .contentbox .subscribe-newsletter .newsletter-title {
    display: block;
    margin-bottom: 15px;
}

.coupon-popup-sec .coupon-popup-main .contentbox .subscribe-newsletter .mainbox {
    position: relative;
}

.coupon-popup-sec .coupon-popup-main .contentbox .subscribe-newsletter input[type="email"] {
    padding: 12px 15px;
    /* border-radius: 25px; */
    width: 100%;
    border: 2px solid var(--border-color);
    outline: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 100%;
}

.coupon-popup-sec .coupon-popup-main .contentbox .subscribe-newsletter .btn-primry {
    line-height: 1;
    padding: 15px 30px;
    transition: 0.4s all;
    background-color: var(--primary-color);
    max-width: 100%;
    border-radius: unset;
    border-top-right-radius: 8px;
    height: 100%;
    border-bottom-right-radius: 8px;
}

.coupon-popup-sec .coupon-popup-main .contentbox .subscribe-newsletter .btn-primry:hover {
    background-color: var(--primary-color);
}

@media (max-width:1199px) {
    header .navigations .menus li {
        padding: 10px 22px;
    }
    header .navigations .other-navigations .btn-primry {
        padding: 10px 20px;
    }
    .desktop-coupon-tiles .coupons-tiles .coupon-content {
        flex: 0 0 45%;
        max-width: 45%;
    }
}

@media (max-width:991px) {
    header {
        display: none;
    }
    .banner-sec .contentbox {
        display: none;
    }
    .mobile-header {
        display: block;
        /*position: fixed;*/
        width: 100%;
        left: 0;
        top: 0;
        z-index: 9999;
    }
    header .navigations .menus li {
        padding: 10px 14px;
        font-size: 12px;
    }
    header .navigations .other-navigations .btn-primry {
        padding: 8px 10px;
        font-size: 12px;
    }
    header .navigations .menus li.has-child::after {
        right: 2px;
        font-size: 10px;
    }
    .never-miss-deals-sec .mainbox .subscribe-us {
        max-width: 60%;
    }
    footer .col-lg-3 .footer-links ul {
        display: block;
    }
    footer .col-lg-3 .footer-links ul li {
        max-width: 100%;
    }
    footer .footer-links ul li {
        font-size: 14px;
    }
    .store-sec .main-sidebar {
        order: 2;
    }
    .store-sec .main-sidebar .store-img {
        display: none;
    }
    .store-sec .main-sidebar .store-short-desc {
        display: none;
    }
    .store-sec .tile-mainbox {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .store-sec .tile-mainbox .store-img {
        margin-right: 15px;
        display: block;
        flex: 0 0 35%;
        max-width: 35%;
        padding: 40px 0px;
    }
    .store-tabbing .store-short-desc {
        display: block;
        text-align: center;
        font-size: 14px;
        margin-bottom: 30px;
    }
    .store-sec .main-contentbar {
        order: -1;
    }
    .coupon-popup-sec .coupon-popup-main .contentbox .subscribe-newsletter .btn-primry {
        margin-top: 15px;
    }
    .coupon-popup-sec .coupon-popup-main .contentbox .subscribe-newsletter .btn-primry,
    .coupon-popup-sec .coupon-popup-main .contentbox .subscribe-newsletter input[type="email"] {
        border-radius: 8px;
    }

    .sec-padding {
        padding: 115px 0;
    }
    .top-store-category-sec{
        padding-top: 0px;
    }
    .banner-sec {
       padding-top: 1px;
    }
    .desktop-coupon-tiles {
        display: none;
    }
    .store-tabbing {
        display: block;
    }
    .store-sidebar .available-offers {
        display: none;
    }

}

.all-cats-main .col-lg-2.col-md-4.col-sm-4.col-6 {
    margin: 10px 0;
}

@media (max-width:767px) {
    h3 {
        font-size: 17px;
    }
    .sec-title {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .sec-title a {
        margin-top: unset;
    }
    .sec-title h3 {
        font-size: 17px;
    }

    .category-tiles .mainbox .contentbox {
        display: block;
    }
    .banner-sec .row {
        overflow-x: scroll;
        flex-flow: nowrap;
        padding-bottom: 12px;
    }
    .product-tiles .mainbox {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    .product-tiles .mainbox .imgbox {
        flex: 0 0 30%;
        max-width: 30%;
        border-right: 1px solid var(--border-color);
        padding: 50px 0;
    }
    .product-tiles .mainbox .contentbox {
        border-top: unset;
    }
    .never-miss-deals-sec .mainbox .subscribe-us {
        max-width: 100%;
    }
    footer .footer-links {
        margin-bottom: 10px;
    }
    footer .special-events .footer-links ul {
        display: flex;
    }
    footer .special-events .footer-links ul li {
        max-width: 50%;
    }
    .copyright ul {
        flex-flow: wrap;
        justify-content: center;
    }
    .copyright ul li {
        margin-bottom: 15px;
        font-size: 14px;
    }
    .copyright p {
        text-align: center;
    }
    .all-cat-banner .contentbox {
        display: block;
    }
    .all-cat-banner .row {
        overflow-x: auto;
        flex-flow: wrap;
        padding-bottom: 12px;
    }
    .all-cat-banner .all-cats-main a {
        padding: 0px 5px;
        min-height: 75px;
    }
    .tile-mainbox .sec-title {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .coupons-tiles .discount-percentage h4 span,
    .coupons-tiles .discount-percentage h4 {
        font-size: 26px;
    }
    .coupons-tiles .coupon-content h5 {
        font-size: 14px;
    }
    .blogs-sec .row {
        flex-flow: nowrap;
        overflow-x: scroll;
        padding-bottom: 15px;
    }
    .coupon-popup-sec .coupon-popup-main .contentbox {
        max-width: 100%;
    }
}

@media(max-width:575px) {
    .buyer-guide-sec .row {
        display: none;
    }
    .buyer-guide-mobile {
        display: block;
    }
}

@media (max-width:475px) {
    .coupons-tiles .getcodebtn,
    .coupons-tiles .getdealbtn {
        max-width: 100%;
        text-align: center;
    }
    .coupon-popup-sec .coupon-popup-main .contentbox {
        padding: 20px;
    }
}

@media (max-width:375px) {
    .mobile-header .mainbox .searchbar i {
        left: 22px;
    }
    .coupons-tiles .getdealbtn a,
    .coupons-tiles .getcodebtn a {
        padding: 10px 70px;
        font-size: 13px;
    }
    .coupons-tiles .coupon-content .verified span {
        font-size: 10px;
    }
    .coupons-tiles .coupon-content .verified span i {
        width: 12px;
        height: 12px;
        line-height: 12px;
        font-size: 8px;
        margin-left: 2px;
    }
    .coupons-tiles .getcodebtn a::before {
        border-left: 20px solid transparent;
        top: 13px;
    }
    .about-brand ul li.content span,
    .about-brand ul li.content a,
    .about-brand ul li.content {
        font-size: 14px;
    }
    .blogs-sec .sec-title h3 {
        font-size: 16px;
    }
    .buyer-guide-mobile .contentbox {
        display: block;
    }
    .buyer-guide-mobile .contentbox p {
        margin-bottom: 15px;
    }
    .buyer-guide-mobile .contentbox img {
        max-width: 100%;
        height: 400px;
    }
    .coupon-popup-sec .coupon-popup-main .contentbox .subscribe-newsletter .btn-primry {
        position: unset;
        transform: unset;
        margin-top: 15px;
        max-width: 100%;
    }
    .coupon-popup-sec .coupon-popup-main .contentbox .other-details li {
        font-size: 12px;
    }
}



/* Slider Css new Slide  */
 .slider-container {
	position: relative;
	width: 100%;
	max-width: 1200px;

}

.slider-wrapper {
	overflow: hidden;
	/* margin: 0 80px; */
	/* padding: 30px 0; */
}

.slider {
	display: flex;
	transition: transform var(--slider-transition);
}

.slide-group {
	flex: 0 0 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	padding: 0 1rem;
}

.card {
	position: relative;
	background: #fff;
	/* background: rgba(255, 255, 255, 0.1); */
	border-radius: 8px;
	padding: 20px;
	backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transform: perspective(1000px) rotateX(var(--card-rotate-x))
		rotateY(var(--card-rotate-y));
	transition: all var(--card-transition);
	transform-style: preserve-3d;
	will-change: transform;
	opacity: 1;
}
.card:hover {
	/* background: rgba(255, 255, 255, 0.1); */
	background: #fff;
}

.slide-group:hover .card:not(:hover) {
	opacity: 0.5;
}

.card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 8px;
	margin-bottom: 15px;
}

.card h3 {
	color: #000;
	font-size: 1.5rem;
	margin-bottom: 10px;
	font-weight: 600;
}

.card p {
	color: #263af5;
	font-size: 1.1rem;
	line-height: 1.4;
}

.nav-btn {
	position: absolute;
	top: calc(50% - 25px);
	transform: translateY(-50%);
	background: rgba(255, 255, 255, 0);
	border: none;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	cursor: pointer;
	display: grid;
	place-items: center;
	color: white;
	font-size: 1.2rem;
	transition: all 0.3s ease;
}

.nav-btn:hover {
	transform: translateY(-50%) scale(1.5);
}

.prev-btn {
	left: -40px;
}
.next-btn {
	right: -40px;
}

.slider-dots {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 30px;
}

.dot {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.3);
	cursor: pointer;
	transition: all 0.3s ease;
}

.dot.active {
	background: white;
	transform: scale(1.5);
}

#bokeh-background {
	position: absolute;
	/* top: 0;
	width: 100%; */
	height: 100%;
	overflow: hidden;
}

.bokeh {
	position: absolute;
	border-radius: 50%;
	opacity: 0.25;
	filter: blur(10px);
	box-shadow: 0 0 30px 15px rgba(255, 69, 0, 0.15);
	animation: float 15s infinite;
}

.bokeh::before,
.bokeh::after {
	content: "";
	position: absolute;
	border-radius: 50%;
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
	background: inherit;
	filter: blur(30px);
	z-index: -1;
}

.bokeh::before {
	transform: rotate(45deg);
}

@keyframes float {
	0% {
		transform: translateY(0) scale(1);
	}
	50% {
		transform: translateY(-100px) scale(1.5);
	}
	100% {
		transform: translateY(0) scale(1);
	}
}

.card-button {
    height: 35px;
    width: 35px;
    color: #5372f0;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    transform: rotate(-45deg);
    border: 2px solid #5382f0;
    transition: 0.4s ease;
}




.wrap{
    width:100%;
    height:40vh;
    position:relative;
    overflow:hidden;
  }
  
  .slide-container{
    position:absolute;
    left:0;
    height:100%;
  }
  
  .slides{
    display:flex;
    flex:row;
    flex-wrap:no-wrap;
    height:100%;
    margin:0;
    padding:0;
  }
  
  .animate{
    animation: moveSlideshow 20s linear infinite;
  }
  
  @keyframes moveSlideshow {
    100% {
      transform: translate3d(calc(-100% + 100vw), 0, 0);
    }
  }
  
  .slides li{
    display: block;
    box-sizing:border-box;
    width:33.33vw;
    height:100%;
    align-items: center;
    justify-content: center;
    text-align:center;
  }
  
  .slides li > div{
    display:flex;
    padding:0;
    margin:0;
    box-sizing:border-box;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align:center;
    justify-content: center;
    align-self: center;
  }
  
  .slides li span{
    display:block;
    font-size: 17vh;
    font-weight:800;
    letter-spacing: -.06em;
    color:#00509A;
  }
  
  
  /*  FAQS  Store */


  .ko-faq-section {
    padding: 40px 0;
  }
  .ko-faq-section h2 {
    text-align: center;
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 10px;
  }
  .ko-container {
    width: 100%;
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .ko-faq-section .ko-container > p {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .ko-accordion-item {
    background-color: #fff;
    border-bottom: 1px solid #dfdfdf;
  }
  .ko-accordion-item-header {
    padding: 20px 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  .ko-accordion-item-header::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkgMThMMTUgMTJMOSA2IiBzdHJva2U9IiMwNDdDQzEiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.4s ease;
  }
  .ko-accordion-item-header.active::after {
    content: "";
    transform: rotate(90deg);
  }
  .ko-accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }
  .ko-accordion-item-body-content {
    padding-bottom: 20px;
  }
  .ko-faq-accordion {
    margin-bottom: 30px;
  }
  .ko-ask-qus h3 {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 10px;
  }
  .ko-ask-qus p {
    margin-bottom: 20px;
  }
  .ko-form-cotrl {
    margin-bottom: 20px;
  }
  .ko-faq-input-field {
    width: 100%;
    max-width: 520px;
    padding: 10px;
    outline: none;
    border: 1px solid #dfdfdf;
  }
  .ko-faq-input-field:focus {
    outline: none;
    border: 1px solid #aae0ff;
    box-shadow: 1px 1px 10px #aae0ff;
  }
  .ko-btn {
    border: 0;
    padding: 6px 12px;
    background: #000000;
    color: #ffffff;
    cursor: pointer;
  }
  /* faq section end */
  